.question {
    text-align: center;
    max-width: 480px;
    min-width: 480px;
    background-color:#2f2841;
    border-radius: 1rem;
    padding: 2rem;
    border: 2px solid #00ff88    
}
.question h2 {
    margin-bottom: 2rem
}
.question p {
    margin-bottom: 1rem;
   
}

.question img {
    margin-top: 2rem
}
.question button {
    border: 2px solid #fff
}